<h1>Users</h1>

<ol>
<% @users.each do |user| %>
<% if current_user.following %>
	<%= user.username %> | <a href="<%= "/follow/#{user.id}" %>">follow</a>
		<% flash[:notice] = "Currently following" %>
			<% else %>
			<a href="<%= "/unfollow/#{user.id}" %>">Unfollow</a>
	<% end %>
<% end %>

</ol>

<% if flash[:notice] %>
  <div class="flash notice">
    <%=flash[:notice] %>
  </div>

<% elsif flash[:alert] %>
  <div class="flash alert">
    <%=flash[:alert] %>
  </div>
<% end %>